<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cerberus</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="main.js"></script>

    <script type="text/javascript">
        var v, h;
        var vcaTries = 0;
        function Initialize() {
            v = new Vue({
                el: '#main',
                data: {
                    clouds: {},
                    message: null,
                    mType: null
                },
                methods: {
                    swap: swapArrayValues,
                    sortO: sortOrphans
                }
            });
            h = new Vue({
                el: '#head',
                data: {
                    addCloud: false
                }
            });
            GetClouds(v);
        }
    </script>
</head>
<body onload="Initialize()">
<header id="head">
    <img class="logo" src="img/fail.png"><span class="headerVert">Cerberus</span>
    <button v-on:click="addCloud = !addCloud">Add Cloud</button>
    <span v-if="addCloud"><input id="addCloud" class="headerInput" placeholder="Cloud Friendly Name"><button onclick="AddCloud(v)">Add</button></span>
    <button type="button" onclick="GetLog();">Log</button>
</header>
<div class="container" id="main">
    <!-- Vue Loop Starts Here For Dynamic Content-->
    <div v-if="message != null" class="alert">
        <div class="close closeButton" v-on:click="message = null"></div>
        <h3>{{mType}}</h3>
        <p v-html="message"></p>
    </div>
    <template v-for="(cloud, name) in clouds">
        <div class="row cloudTab">
            <div class="col-sm-4 col-md-1 controlTab topLeftTab">
                <span class="arrowCurs" v-on:click="cloud.show = !cloud.show">{{name}}</span>
            </div>
            <div class="col-sm-2 col-md-1 controlTab topRightTab">
                <img src="img/gear.png" class="controlIcon float-right" v-on:click="cloud.showSettings = !cloud.showSettings" title="Show settings for cloud">
                <img src="img/reload.png" class="controlIcon float-right" v-if="!cloud.loading" :data-cloud="name" onclick="GetCloud(this,v)" title="Refresh cloud data">
                <span class="spinner-donut float-right" v-if="cloud.loading"></span>
            </div>
        </div>
<transition name="fade">
    <div class="cloudBox" v-if="cloud.show">
        <div v-if="cloud.showSettings" class="row">
            <div class="col-sm-12 controlTab">
                <form action="#">
                    <input v-model="cloud.Username" placeholder="Cloud Username">
                    <input type="password" v-model="cloud.Password" placeholder="Password">
                    <input v-model="cloud.URL" placeholder="vCloud Director URL">
                    <input v-model="cloud.OrgName" placeholder="vCloud Org Name">
                    <button type="button" :data-cloud="name" onclick="UpdateCloud(this,v)">Save</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 orphanBox">
                <select class="UUIDListBox orphanList" multiple :name="name+'Orphans'">
                <option v-for="o in cloud.Orphans" :value="o">{{cloud.Mappings[o] || o}}</option>
                </select>
            </div>
            <div class="col-sm-12 col-md groupDiv teal">
                <div class="row">
                    <div class="col-sm controlTab bottomLeftTab bottomRightTab">
                        <img src="img/add.png" class="controlIcon" :data-cloud="name" onclick="AddRepGroup(this,v)" title="Add group">
                        <img src="img/fail.png" class="controlIcon" :data-name="name" onclick="Failover(this,v,false,true)" title="Failover all groups">
                        <img src="img/testfail.png" class="controlIcon" :data-name="name" onclick="Failover(this,v,true,true)" title="Test fail all groups">
                        <span class="textSep">&nbsp|&nbsp</span>
                        <img src="img/poweron.png" class="controlIcon" v-bind:class="{ toggledIcon: cloud.powerOn }" v-on:click="cloud.powerOn = !cloud.powerOn" title="Toggle: Power on VMs during failover">
                        <img src="img/onerror.png" class="controlIcon" v-bind:class="{ toggledIcon: cloud.ignoreErrors }" v-on:click="cloud.ignoreErrors = !cloud.ignoreErrors" title="Toggle: Ignore errors during failover and continue to fail VMs">
                        <input :id="name+'maxC'" class="smallinput" type="number" min="1" max="10" step="1" value="1" name="simultaneous-failover" title="Maximum number of VMs to fail over simultaneously">
                        <span class="textSep">&nbsp|&nbsp</span>
                        <img src="img/save.png" class="controlIcon" :data-cloud="name" onclick="UpdateCloud(this,v)" title="Save Configuration">
                    </div>
                </div>
                <!-- Vue Loop 2 for Groups-->
                <template v-for="(group, idx) in cloud.Groups">
                    <div class="row">
                        <div class="col-sm-1 controlTab vertControlTab topLeftTab bottomLeftTab">
                            <img src="img/up.png" class="controlIcon" v-on:click="swap(cloud.Groups, idx-1, idx)" title="Move group up in order">
                            <img src="img/del.png" class="controlIcon" :data-idx="idx" :data-name="name" onclick="DelRepGroup(this,v)" title="Delete group">
                            <img src="img/right.png" class="controlIcon" :data-idx="idx" :data-name="name" onclick="AddItems(this,v)" title="Add items to group">
                            <img src="img/left.png" class="controlIcon" :data-idx="idx" :data-name="name" onclick="RemItems(this,v)" title="Remove items from group">
                            <img src="img/fail.png" class="controlIcon" :data-idx="idx" :data-name="name" onclick="Failover(this, v, false, false)" title="Failover group">
                            <img src="img/testfail.png" class="controlIcon" :data-idx="idx" :data-name="name" onclick="Failover(this, v, true, false)" title="Test fail group">
                        </div>
                        <div class="col-sm groupsTab">
                            <select class="UUIDListBox" :data-idx="idx" :name="name+'RG'+idx" multiple>
                                <option v-for="vm in group" :value="vm">{{cloud.Mappings[vm] || vm}}</option>
                            </select>
                        </div>
                    </div>
                </template>
                <!-- Vue Loop 2 Ends -->
            </div>
        </div>
    </div>
</transition>
</template>
<!-- Vue Loop Ends Here -->
</div>
<footer>Copyright 2016-2017. All rights reserved.</footer>
</body>

</html>
