.teal {
    background-color: rgb(50, 105, 132);
}

.controlTab {
    background-color: rgb(31, 65, 81);
    color: rgb(250, 250, 250);
}

.groupsTab {
    background-color: rgb(29, 55, 65);
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.vertControlTab {
    max-width: 35px;
}

.topLeftTab {
    margin-top: 5px;
    margin-left: 5px;
    border-top-left-radius: 15px;
}

.topRightTab {
    margin-top: 5px;
    margin-right: 5px;
    border-top-right-radius: 15px;
}

.bottomLeftTab {
    margin-bottom: 5px;
    margin-left: 5px;
    border-bottom-left-radius: 15px;
}

.bottomRightTab {
    margin-bottom: 5px;
    margin-right: 5px;
    border-bottom-right-radius: 15px;
}

.cloudTab {
    margin-left: -5px;
}

.orphanBox {
    background-color: rgb(90, 118, 132);
    padding-bottom: 5px;
    overflow-x: hidden;
}

.UUIDListBox {
    min-width: 40%;
}

.groupDiv {
    max-height: 70vh;
    overflow-y: scroll;
}

.orphanList {
    height: 75%;
    min-height: 100px;
    margin-left: 2px;
}

.arrowCurs {
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: max-height .3s ease-in;
    overflow: hidden;
}

.fade-enter, .fade-leave-to {
    max-height: 1px;
}

.fade-leave, .fade-enter-to {
    max-height: 300px;
}

.controlIcon {
    height: 17px;
    width: 17px;
    cursor: pointer;
    box-shadow: none;
    margin: 4px;
    transition: box-shadow .2s ease-in;
}

.controlIcon:hover {
    box-shadow: 0px 0px 2px 1px rgb(35, 173, 255);

}

.toggledIcon {
    box-shadow: 0px 0px 2px 1px rgb(35, 173, 255);
}

.cloudBox {
    box-shadow: 2px 2px 5px 0px;
}

.spinner-donut {
    height: 16px;
    width: 16px;
}

img.logo {
    height: 35px;
    width: 35px;
}

.headerInput {
    vertical-align: top;
}

.headerVert {
    display: inline-block;
    line-height: 44px;
    vertical-align: top;
}

.closeButton {
    float: right;
}

.textSep {
    vertical-align: top;
}

.alert {
    max-height: 200px;
    overflow-y: scroll;
}

.smallinput {
    padding: 0px;
    margin-top: 4px;
    max-width: 40px;
    font-size: 12px;
    border: 0px;
    vertical-align: top;
    color: rgb(250, 250, 250);
    background-color: rgb(90, 118, 132);
}
